<h1>Edit your goal</h1>
<%= form_for [@goal_section, @goal] do |f| %>

  <div class="field">
    <%= f.label :title %><br/>
    <%= f.text_field :title, autofocus: true, autocomplete: "My goal" %>
  </div>
  
  <div class="field">
    <%= f.label :details %><br/>
    <%= f.text_field :details, autocomplete: "Add specifics about your goal" %>
  </div>
  
  <div class="field">
    <%= f.label :penalty %><br/>
    <%= f.text_field :penalty, autocomplete: "Add a penalty" %>
  </div>
  
  <div calss="field">
    <%= f.label :reward %><br/>
    <%= f.text_field :reward, autocomplete: "Add a reward" %>
  </div>
  
  <div class="field">
    <%= f.label :complete_date %>
    <%= f.date_select :complete_date, :start_year => 2019 %>
  </div>
  
  <div class="field">
    <%= f.label :colour %><br/>
    <%= f.color_field :colour %>
  </div>
  
  <div class="field">
    <%= f.label :text_colour %><br/>
    <%= f.color_field :text_colour %>
  </div>
  
  <div class="field">
    <%= f.label :recurring %>
    <%= f.select :recurring, options_for_select([["one-off", 0], ["daily", 1], ["weekly", 2], ["monthly", 3], ["yearly", 4]]) %>
  </div>
  
  <div class="field">
    <%= f.label :completed %>
    <%= f.check_box :completed %>
  </div>
  
  <%= hidden_field_tag(:user_id, params[:user_id]) %>
  
  <div class="field">
    <%= f.label :private %>
    <%= f.check_box :private %>
  </div>
  
  <div class="actions">
    <%= f.submit "Update goal" %>
  </div>
<% end %>