<div class="container">
  <div class="row">
    <div class="col-sm-11">
      <h1>My Goals</h1>
    </div>
    <div class="col-sm-1">
      <h1>
        <%= link_to new_goal_section_path do %>
          <i class="fa fa-plus-circle"></i>
        <% end %>
      </h1>
    </div>
  </div>
  <div class="container">
    <!-- for loop each card (goal section) in their stored positions
          Add an if else statement for if the user has goal sections or not-->
    <% GoalSection.where("user_id = ?", params[:user_id]).each do |goal_section| %>
      <div class="card">
        <div class="row">
          <div class="col-sm-11">
            <!-- goal_section name -->
            <h2>
              <%= goal_section.name %>
            </h2>
          </div>
          <div class="col-sm-1">
            <h1>
              <!-- Add x in top corner to delete goal section -->
              <%= button_to goal_section_path(user_id: @user, id: goal_section), method: :delete, data: {confirm: "Are you sure you want to delete this goal section?"}, class: 'btn btn-danger' do %>
                <i class="fa fa-close"></i>
              <% end %>
            </h1>
          </div>
        </div>
        
        <div class="container">
          <%= form_for [@user, goal_section] do |f| %>
          
            <div class="field">
              <%= f.label :name %><br/>
              <%= f.text_field :name, autofocus: true, autocomplete: "My goal section" %>
            </div>
            
            <div class="field">
              <%= f.label :colour %><br/>
              <%= f.color_field :colour %>
            </div>
            
            <div class="field">
              <%= f.label :text_colour %><br/>
              <%= f.color_field :text_colour %>
            </div>
            
            <!-- Hidden tags will autocomplete based on the size and postion of the goal section -->
            <%= hidden_field_tag(:width, 100) %>
            <%= hidden_field_tag(:height, 50) %>
            <%= hidden_field_tag(:x_pos, 0) %>
            <%= hidden_field_tag(:y_pos, 0) %>
            
            <div class="field">
              <%= f.label :private %>
              <%= f.check_box :private %>
            </div>
            
            <div class="actions">
              <%= f.submit "Update goal" %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
