<h1>Create a goal section</h1>
<%= form_for [@user, @goal_section] do |f| %>

  <div class="field">
    <%= f.label :name %><br/>
    <%= f.text_field :name, autofocus: true, autocomplete: "My goal section" %>
  </div>
  
  <div class="field">
    <%= f.label :colour %><br/>
    <%= f.color_field :colour, value: '#ffffff' %>
  </div>
  
  <div class="field">
    <%= f.label :text_colour %><br/>
    <%= f.color_field :text_colour %>
  </div>
  
  <%= hidden_field_tag(:width, 100) %>
  <%= hidden_field_tag(:height, 50) %>
  <%= hidden_field_tag(:x_pos, 0) %>
  <%= hidden_field_tag(:y_pos, 0) %>
  
  <div class="field">
    <%= f.label :private %>
    <%= f.check_box :private %>
  </div>
  
  <div class="actions">
    <%= f.submit "Create goal section" %>
  </div>
<% end %>