<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <script src="//code.jquery.com/jquery.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/d157d34002.js"></script>
  </head>

  <body>
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
      <div class="container">
        <%= link_to "/", class: 'navbar-brand' do %>
          Click here to add text.
        <% end %>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <%= link_to "#", class: 'nav-link' do %>
                <b>Blogs
                <i class="fas fa-paper-plane"></i></b>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to "#", class: 'nav-link' do %>
                <b>Projects
                <i class="fas fa-dumpster-fire"></i></b>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to goals_path, class: 'nav-link' do %>
                <b>Goals
                <i class="fas fa-chess"></i></b>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to new_user_registration_path, class: 'btn btn-primary navbar_button' do %>
                Sign up!
              <% end %>
            </li>
            <li class="nav-item">
              <% if user_signed_in? %>
                <%= button_to "Log out!", destroy_user_session_path, :method => :delete, class: 'btn btn-primary navbar_button' %>
              <% else %>
                <%= link_to new_user_session_path, class: 'btn btn-primary navbar_button' do %>
                  <b>Log in!</b>
                <% end %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="alert_container">
      <div class="container">
        <% flash.each do |key, value| %>
          <div class="alert alert-<%= key %>"><%= value %></div>
        <% end %>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
